@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sukhumvit+Set:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef6fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #000080;
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button.edit, button.btn.add, button.edit-btn, button.delete-btn {
    background-color: white;
    color: black;
    border: 2px solid #1b4f72;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

button.edit:hover, button.btn.add:hover, button.edit-btn:hover, button.delete-btn:hover {
    background-color: #000080;
    color: white;
    font-family: 'Poppins', sans-serif;
}


a.btn.back-home {
    display: inline-block;
    padding: 12px 20px;
    background-color: white;
    color: #6a5acd;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

a.btn.back-home:hover {
    background-color: #000080;
    border-color: #000080;
    color: white;
    transform: scale(1.05);
}

#maintenance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #bbdefb;
}

#maintenance-table th, #maintenance-table td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

#maintenance-table th {
    background-color: #00509e;
    color: white;
    font-weight: bold;
}

#maintenance-table tr:hover {
    background-color: #000080;
    color: white;
    transform: scale(1.02);
}
